<ion-view title="{{fb.lists[selectedList].title}}">
    <ion-content has-bouncing class="has-header">
        <div class="list">
            <div class="item item-divider">
                {{fb.lists[selectedList].one.name}}
                <span style="float: right">{{fb.lists[selectedList].two.name}}</span>
            </div>

            <a ng-repeat="value in fb.lists[selectedList].one.values" class="item" href>
                {{value}}<span style="float: right">{{fb.lists[selectedList].two.values[$index]}}</span>
            </a>
        </div>
    </ion-content>
</ion-view>
