<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.vdput.teasy" android-versionCode="3" version="0.0.3" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>Teasy</name>
  <description>
        Teasy - learn words easily.
    </description>
  <author email="vanderputerwin@gmail.com" href="http://ionicframework.com/">
      Teasy Creators
    </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="BackupWebStorage" value="none"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
</widget>