<ion-view title="Edit lists">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content has-bouncing class="has-header">
        <div class="list">
            <div ng-repeat="dir in fb.users[userID].lists">
                <div class="item item-divider">
                    {{dir.directoryName}}
                </div>
                <a class="item" href="#" ng-repeat="list in dir.listIDs" on-tap="showSheet(list)">
                    {{list}}<span class="badge badge-assertive">{{fb.lists[list].rowCount}}</span>
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>
